<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/scanner"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scanner"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scanner">
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="          QR History"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".CreateActivity"
            android:exported="false"
            android:label="         Create QR"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:label="         Scanned Data"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>